# Assign default reviewers/owners
# Replace @VitaliyBogdanuk with your GitHub handle(s)
*       @VitaliyBogdanuk

/modules/M01-HTML-CSS/        @VitaliyBogdanuk
/modules/M02-JS-FE/           @VitaliyBogdanuk
/modules/M03-NodeJS-Backend/  @VitaliyBogdanuk
/modules/M04-Databases/       @VitaliyBogdanuk
/modules/M05-FullStack-Integration/ @VitaliyBogdanuk
